/*
  Reset browser styles
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

* {
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button,
fieldset {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

/*
  Common styles
*/
body {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
}
